html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 12px;
  line-height: 1;
  padding: 24px;
}

@media (hover: none) {
  input {
    font-size: 16px;
  }
}

.App {
  display: flex;
  flex-direction: row;
}

.App .controls {
  flex: 0 0 200px;
  padding-right: 24px;
}

.App .controls fieldset {
  margin-bottom: 12px;
}

.App .output {
  flex: 1 1 auto;
}

.App .box-wrap {
  position: sticky;
  top: 0;
  padding: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
